
/* Element | file:///G:/My%20Drive/Software%20engineering/3-1/Web%20Technologies/CV/index.html */


.topContainer {
  width: 100%; 
  height: 20vh;
  background: #cfcfdb;
  padding: 3px;
  margin: 5px;
  border-radius: 5%;
  font-size: 1vw;
  box-shadow: 5px 5px #021eb582;
}
.image {
  margin-left: 50%;
  border-radius: 50%;
  height: 100%;
  width: 40%;
}
.img {
  height: 20vh;
  display: flex; float: left;
   width: 20vw; 
  /*flex-wrap: wrap;
  align-content: center; */
 
}
.img {
  
  /* height: 100%;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: center; */
}
.myName {
  
  float: right; 
  width: 75%; 
   height: 100%;
}
.myName {
  font-size: 100%;
  font-family: Lucida Sans Typewriter;
  /* width: 75%;
  display: flex;
  float: right;
  background: lightgray;
  height: 100%; */
}

.leftContainer {
  font-size: 2vw;
  align-self: first baseline;
  background: lightgray;
  float: left;
  box-shadow: 5px 5px #b5fbf1;
  width:28%;
  text-align: center;
  border-radius: 5%;
}
.lang{
  
  text-align: center;
  background: #171717;
  width: 47%;
  margin-left: 25%;
  border-radius: 20%;
  
  font-family: Lucida Sans Typewriter;
  color: #fff;
}
.rightContainer {
  font-size: 2vw;
  align-self: first baseline;
  float: right;
  background: rgb(211, 211, 211);
  width: 71%;
  box-shadow: 5px 5px #bbb;
}


/* Table Part*/
.tcontainer th h4 {
  font-weight: bold;
  font-size: 1em;
text-align: left;
color: #8bb8cc;
}

.tcontainer td {
  font-weight: normal;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.tcontainer {
  text-align: left;
  overflow: hidden;
  width: 90%;
 
display: table;

}

.tcontainer td, .tcontainer th {
 
  padding-left: 1%;
}

/* Background-color of the odd rows */
.tcontainer tr:nth-child(odd) {
  background-color: #737578;
}

/* Background-color of the even rows */
.tcontainer tr:nth-child(even) {
  background-color: #2C3446;
}

.tcontainer th {
  background-color: #1F2739;
}

.tcontainer td:first-child { color: #e6e6e6; }

.tcontainer tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

.tcontainer td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}

@media (max-width: 800px) {
.tcontainer td:nth-child(4),
.tcontainer th:nth-child(4) { display: none; }
}

