
/* Element | file:///G:/My%20Drive/Software%20engineering/3-1/Web%20Technologies/CV/index.html */


.topContainer {
  width: 100%; 
  height: 20vh;
  background: #cfcfdb;
  padding: 3px;
  margin: 5px;
  border-radius: 5%;
  font-size: 1vw;
}
.image {
  margin-left: 50%;
  border-radius: 50%;
  height: 100%;
  width: 40%;
}
.img {
  height: 20vh;
  display: flex; float: left;
   width: 20vw; 
  /*flex-wrap: wrap;
  align-content: center; */
 
}
.img {
  
  /* height: 100%;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: center; */
}
.myName {
  
  float: right; 
  width: 75%; 
   height: 100%;
}
.myName {
  font-size: 100%;
  font-family: Lucida Sans Typewriter;
  /* width: 75%;
  display: flex;
  float: right;
  background: lightgray;
  height: 100%; */
}

.leftContainer {
  font-size: 2vw;
  align-self: first baseline;
  background: lightgray;
  float: left;
  box-shadow: 5px 5px #b5fbf1;
  width:28%;
  text-align: center;
  border-radius: 5%;
}
.lang{
  
  text-align: center;
  background: #171717;
  width: 47%;
  margin-left: 25%;
  border-radius: 20%;
  font-size: 100%;
  font-family: Lucida Sans Typewriter;
  color: #fff;
}
.rightContainer {
  font-size: 2vw;
  align-self: first baseline;
  float: right;
  background: skyblue;
  width: 71%;
  box-shadow: 5px 5px #bbb;
}

